{% extends "base.html" %}

{% block title %}About Us{% endblock %}


{% block content %}

  <div class="about section">
    <div class="section__content">

      <h1>About Axyl</h1>
      <p>The Axyl project was created out of a desire to craft a
         top-tier Linux experience for people looking to supercharge
         their productivity.</p>

      <div class="team">
        <h2 class="team__header">Meet The Team</h2>

        <div class="cards">
          <div class="card">
            <div class="card__image"><img src="https://avatars.githubusercontent.com/u/55544286" alt="Gabriel Matthews"></div>

            <div class="card__content">
              <div class="card__name"><strong><a href="https://github.com/kungger-git">Gabriel Matthews</a></strong></div>
              <div class="card__title">Founder & Lead Developer</div>
            </div>
          </div>

          <div class="card">
            <div class="card__image"><img src="https://avatars.githubusercontent.com/u/39676098" alt="Angelo Fallaria"></div> 

            <div class="card__content">
              <div class="card__name"><strong><a href="https://angelo.is-a.dev">Angelo Fallaria</a></strong></div>
              <div class="card__title">Full-stack Web Developer</div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

{% endblock %}
