<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8"/>
    <meta name="author" content="Gabriel Matthews"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/png" href="static/img/axyl-logo.svg">

    <!-- HTML Meta Tags -->
    <title>Axyl - {% block title %}{% endblock %}</title>
    <meta name="description" content="Axyl is a window manager-centric distro built on top of Arch Linux. Choose from several tiling WMs - i3, bspwm, dwm, XMonad and more.">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://axyl-os.github.io/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Axyl - The distro for tiling WMs">
    <meta property="og:description" content="Axyl is a window manager-centric distro built on top of Arch Linux. Choose from several tiling window managers - i3, bspwm, dwm, XMonad and more.">
    <meta property="og:image" content="https://raw.githubusercontent.com/axyl-os/axyl-os.github.io/master/static/img/axyl-social-preview.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="axyl-os.github.io">
    <meta property="twitter:url" content="https://axyl-os.github.io/">
    <meta name="twitter:title" content="Axyl - The distro for tiling WMs">
    <meta name="twitter:description" content="Axyl is a window manager-centric distro built on top of Arch Linux. Choose from several tiling window managers - i3, bspwm, dwm, XMonad and more.">
    <meta name="twitter:image" content="https://raw.githubusercontent.com/axyl-os/axyl-os.github.io/master/static/img/axyl-social-preview.png">

    <script src="https://kit.fontawesome.com/86c060d6eb.js" crossorigin="anonymous"></script>
    <script src="static/js/menu.js" defer></script>
    {% if css %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/' + css) }}"/>
    {% else %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}"/>
    {% endif %}
  </head>

  <body>
    <div id="container">

      <div class="navigation">
        <div class="navigation__content">
          <div class="navigation__logo">
            <img src="static/img/axyl-logo.svg" alt="Axyl Logo" draggable=false>
            <div class="navigation__logo__title">AXYL</div>
          </div>

          <div class="navigation__nav">
            <div class="navigation__nav__btn">
              <i class="fas fa-bars"></i>
            </div>

            <ul class="navigation__nav__links">
              <li><a href="{{ url_for('base.index') }}">Home</a></li>
              <li><a href="https://discord.gg/qAXMkQdwjj">Discord</a></li>
              <li><a href="https://github.com/axyl-os/axyl-iso">GitHub</a></li>
              <li class="download"><a href="https://github.com/axyl-os/axyl-iso/releases">Download</a></li>
            </ul>
          </div>
        </div>
      </div>

      {% block content %}{% endblock %}

      <div class="footer section">
        <div class="section__content">
          <div class="footer__left">
            <div class="footer__logo">
              <img src="static/img/axyl-logo.svg" alt="Axyl Logo" draggable=false>
            </div>

            <div class="footer__copyright">
              <div>
                <i class="fas fa-copyright"></i> 2021 The Axyl Team
                and <a href="https://github.com/Kungger-git">Gabriel Matthews</a>.
              </div>
              <div>
                Linux® is a registered trademark of Linus Torvalds.
              </div>
            </div>
          </div>
          <div class="footer__right">
            <ul class="quick-links">
              <li><strong>Quick Links</strong></li>
              <li><a href="{{ url_for('base.about') }}">About Us</a></li>
              <li><a href="https://github.com/axyl-os/axyl-iso/releases">Download</a></li>
              <li><a href="https://discord.gg/qAXMkQdwjj">Discord</a></li>
              <li><a href="https://github.com/axyl-os/axyl-iso">GitHub</a></li>
            </ul>
            <ul class="quick-links">
              <li><strong>Info</strong></li>
              <li><a href="https://github.com/axyl-os/axyl-iso/tree/master#install">How to Install</a></li>
              <li><a href="https://github.com/axyl-os/axyl-iso/blob/master/keybindings.md">Keybindings</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
